<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="css/basic.css" type="text/css" rel="stylesheet">
    <link href="css/forms.css" type="text/css" rel="stylesheet">
    <link href="css/detalhesEvento.css" type="text/css" rel="stylesheet">
    <link href="css/tables.css" type="text/css" rel="stylesheet">
    <title>EventosApp</title>
</head>
<body>
<header>
    <h1>EventosApp</h1>
    <p><a href="/eventos">Ver Eventos</a> <a href="/cadastrarEvento"><span id="cadastrarBtn">Cadastrar Evento</span></a></p>
</header>
<main>
    <h2>Evento</h2>

    <div id="containerDetalhes" th:each="evento : ${evento}">
        <div class="row">
            <p>Nome: <span th:text="${evento.nome}"></span></p>
            <p>Local: <span th:text="${evento.local}"></span></p>
            <p>Data: <span th:text="${evento.data}"></span></p>
            <p>Horário: <span th:text="${evento.horario}"></span></p>
        </div>

        <h3>Adicionar convidados:</h3>
        <form method="post">
            <p><input type="text" value="" name="nomeConvidado" placeholder="Nome do Convidado"></p>
            <p><input type="text" value="" name="rg" placeholder="RG"></p>
            <p id="pMensagem"><th:block th:include="mensagemValidacao"></idth:block></p>
            <button type="submit">Adicionar</button>
        </form>
    </div>

    <h3 id="hConvidados">Lista de Convidados:</h3>
    <table>
        <thead>
                <th>Nome</th>
                <th>RG</th>
                <th>Deletar</th>
        </thead>
        <tbody>
            <tr th:each="convidado : ${convidados}">
                <td><span th:text="${convidado.nomeConvidado}"></span></a></td>
                <td><span th:text="${convidado.rg}"></span></td>
                <td><a class="icone-lixeira" th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a></td>
            </tr>
        </tbody>
    </table>
</main>
</body>
</html>