@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Staatliches&display=swap');

:root {
    --cinza1: #c5c5c7;
    --cinza2: #DDDBE6;
    --branco: #FFFFFF;
    --roxo-escuro: #3D2645;
    --preto: #000;
    --roxo: #832161;
    --rosa: #DA4167;
}

*{
    font-size: 16px;
}

body{
    margin: 0px;
    background: var(--branco);
    padding-bottom: 1rem;
}

header{
    background-color: var(--roxo-escuro);
    color: white;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
}

main{
    padding: 1rem;
    font-family: 'Comfortaa', cursive;
}

button{
    background-color: var(--roxo);
    padding: 0.5rem;
    border: 0px solid var(--roxo);
    border-radius: 5rem;
    color: white;
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
}

h1{
    font-size: 4.5rem;
    font-family: 'Staatliches', cursive;
    font-weight: normal;
}

h2{
    margin-top: 0px;
    font-size: 1.5rem;
    text-align: center;
    color: var(--roxo-escuro);
}

h3{
    color: var(--roxo-escuro);
}

button a{
    text-decoration: none;
    vertical-align: middle;
    color: white;
}

header p{
    position: absolute;
    top: 10rem;
    right: 2rem;
}

header p a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    margin-right: 1rem;
}

header p span#cadastrarBtn{
    background-color:  var(--roxo);
    border: 1px solid var(--roxo);
    border-radius: 5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}