table{
    margin: auto;
    font-size: 1.6rem;
}

th, td{
    width: 15rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

th{
    background-color: var(--roxo);
    color: var(--branco);
}

td{
    padding-left: 0.5rem;
}

tr:nth-child(even) td{
    background-color: var(--cinza1);
}

tr:nth-child(odd) td{
    background-color: var(--cinza2);
}

a{
    color: var(--preto);
}

a.icone-lixeira{
    color: var(--rosa);
    margin-left: 7rem;
}
